html {
    background-image: url(oranges.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    height:100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.content-wrapper {
    background-color: hsl(39, 77%, 83%, .7);
    border-radius: 2rem;
    padding: 1rem;
    width: 600px;
    text-align: center;
}

li {
    list-style: none;
}

.done {
    text-decoration: line-through;
}

li:hover, button:hover {
    cursor: pointer;
}